
<title>Sesión iniciada</title>
<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body> 
  <h1>Has entrado a tu inicio de sesión</h1>
  <p>HOLA MUNDO</p>

  <a href="/logout"><button id="logout" type="button">Cerrar sesión</button></a>
