  <!DOCTYPE html>
<html>
<head>
<title>Registro</title>
<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
  <h1>Registro</h1>
  <p>Llena los campos para que podamos registrarte</p>
  <form action="register_form" method="post">
      <p>Nombre:</p>
      <input type="text" name="name"   placeholder="Ingresa tu nombre">
      <p>Email:</p>
      <input type="email" name="email"   placeholder="Ingresa tu email">
      <p>Password:</p>
      <input type="text" name="password"   placeholder="Ingresa tu password">
      <input type="submit">
  </form>
</body>
</html>