  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>

  <h2>Si ya tienes una cuenta, sólo ingresa</h2><br><br>
  <a href="/login"><button id="login" type="button">Login</button></a><br><br><br>
  <p>---------------------------------------------</p><br><br>
  <h2>Si aún no tienes una cuenta, registrate</h2><br><br>
  <a href="/register"><button id="register" type="button">Registrarse</button></a>
  


  
