  
<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
  <h1>Login</h1>
  <p>Llena los campos para que ingresar</p>
  <form action="/login_form" method="post">
    
    <p>Email:</p>
    <input type="email" name="email" placeholder="Ingresa tu email">
    <p>Password:</p>
    <input type="password" name="password" placeholder="Ingresa tu password">
    <input type="submit" id="submit">
  </form>
</body>
</html>