<h1> P치gina secreta</h1>

<title>Sesi칩n iniciada</title>
<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body> 
  <h1>Has entrado a tu inicio de sesi칩n</h1>
  <p>HOLA MUNDO</p>

  <a href="/logout"><button id="logout" type="button">Cerrar sesi칩n</button></a>
